HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# visual studio code
.vscode/

# python
venv/
virtualenv/
__pycache__/
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
docs/build_*
*.pyc

# misc
.DS_Store